.DS_Store
*.xcuserdatad/
*.xcuserdata/
*.xccheckout
*.xcscmblueprint
DerivedData/
*.xcarchive
*.mobileprovision
*.cer
*.p12
*.ipa
*.dSYM
*.dSYM.zip
*.swp
*.swo
*.zip
darktechmeme-safari/darktechmeme.xcodeproj/project.xcworkspace/xcuserdata/
darktechmeme-safari/darktechmeme.xcodeproj/xcuserdata/
